[Unit]
Description=Envoy sidecar proxy for hotels_service
Requires=consul.service
After=network.target

[Service]
ExecStart=/usr/local/bin/consul connect envoy -sidecar-for hotels_service
Restart=always
User=root

[Install]
WantedBy=multi-user.target
