[Unit]
Description=Envoy sidecar proxy for postgres
Requires=consul.service
After=network.target

[Service]
ExecStart=/usr/local/bin/consul connect envoy -sidecar-for postgres
Restart=always
User=root

[Install]
WantedBy=multi-user.target
